{% extends 'layout.twig' %}

{% block body %}
  {% verbatim %}

  <div id="app"
       class="container"
       v-cloak>
      <div class="row">
          <h1 class="col-12 text-center mt-4 mb-5">Phone Book</h1>
      </div>

      <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-8 text-center">
              <table class="table table-sm">
                  <thead class="thead-light">
                  <tr>
                      <th>
                          <input type="checkbox"
                                 :disabled="isNoContactsExists"
                                 :checked="isAllContactsChecked"
                                 @input="toggleAllContacts($event)">
                      </th>
                      <th>№</th>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Phone</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr v-for="(contact, index) in contacts"
                          :key="contact.id">
                          <td>
                              <input type="checkbox"
                                     :value="contact.id"
                                     v-model="checkedContacts">
                          </td>
                          <td>{{ index + 1 }}</td>
                          <td>{{ contact.firstName }}</td>
                          <td>{{ contact.lastName }}</td>
                          <td>{{ contact.phone }}</td>
                          <td>
                              <button type="button"
                                      class="close"
                                      @click="deleteContacts([contact.id])">&times;</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div v-show="isSomeContactsChecked">
                  <button type="button"
                          class="btn btn-dark"
                          @click="deleteCheckedContacts">Delete</button>
              </div>
          </div>

          <form class="needs-validation container col-lg-3"
                novalidate>
              <div class="form-group">
                  <label for="input-name">First name</label>
                  <input type="text"
                         class="form-control"
                         placeholder="First name"
                         v-model="newContact.firstName.value"
                         v-bind:class="{ 'is-valid': newContact.firstName.isValid, 'is-invalid': newContact.firstName.isInvalid }"
                         required>
                  <div class="invalid-feedback">
                        {{ newContact.firstName.error }}
                  </div>
              </div>
              <div class="form-group">
                  <label for="input-surname">Last name</label>
                  <input type="text"
                         class="form-control"
                         placeholder="Last name"
                         v-model="newContact.lastName.value"
                         v-bind:class="{ 'is-valid': newContact.lastName.isValid, 'is-invalid': newContact.lastName.isInvalid }"
                         required>
                  <div class="invalid-feedback">
                        {{ newContact.lastName.error }}
                  </div>
              </div>
              <div class="form-group">
                  <label for="input-phone">Phone</label>
                  <input type="text"
                         class="form-control"
                         placeholder="Phone"
                         v-model="newContact.phone.value"
                         v-bind:class="{ 'is-valid': newContact.phone.isValid, 'is-invalid': newContact.phone.isInvalid }"
                         required>
                  <div class="invalid-feedback">
                       {{ newContact.phone.error }}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <button type="button"
                          class="col-8 col-sm-5 col-lg-11 btn btn-dark mt-3"
                          @click="addContact">Add note</button>
              </div>
          </form>
      </div>
  </div>

  {% endverbatim %}
{% endblock %}
